<div class="navigation">
  <div class="logo">
    <img src="assets/png/air-bnb-icon.png" class="logo-icon"/>
    <div class="logo-title">airbnb</div>
  </div>
  <div class="filter" [ngClass]="{'active': isUseFilterNavigation}">
    <div class="non-active-filter" *ngIf="!isUseFilterNavigation; else activeForm">
      <div class="filter-option choose" (click)="handleOptionClick(this.options.ARRIVED)">
        <span class="title">Where to go?</span>
      </div>
      <div class="filter-option choose" (click)="handleOptionClick(this.options.DEPARTURE)">
        <span class="title">Arrive Date</span>
      </div>
      <div class="filter-option search">
        <div class="icon-search">
          <mat-icon class="filter-search-icon">search</mat-icon>
        </div>
      </div>
    </div>
    <ng-template #activeForm>
      <form (submit)="$event.preventDefault()" class="active-form" [formGroup]="navigationForm">
        <mat-form-field class="active-form_option">
          <input
            type="text"
            placeholder="Where to go"
            aria-label="place"
            matInput
            formControlName="country"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of autoCompleteOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <mat-hint
            class="error"
            *ngIf="navigationForm.get('country')?.errors && navigationForm.get('country')?.touched"
            align="start">
            {{ navigationForm.get('country')?.errors?.required ? 'Choose the country. This field is required' : '' }}
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="active-form_option">
          <mat-label>Arrive Date</mat-label>
          <input
            matInput
            formControlName="arriveDate"
            [matDatepicker]="arrivedDatePicker"
            [matDatepickerFilter]="upToDateFilter"
            placeholder="Start date"
          >
          <mat-datepicker-toggle matSuffix [for]="arrivedDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #arrivedDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="active-form_option">
          <mat-label>Departure date</mat-label>
          <mat-date-range-input
            [rangePicker]="departureDate"
            [dateFilter]="upToDateFilter"
            [disabled]="isDepartureFieldDisabled()"
          >
            <input matStartDate placeholder="Arrived date" [formControl]="getArrivedDate()">
            <input matEndDate placeholder="Departure date" formControlName="departureDate">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="departureDate"></mat-datepicker-toggle>
          <mat-date-range-picker #departureDate></mat-date-range-picker>
        </mat-form-field>
        <div class="submit-button">
          <button
            mat-fab
            color="accent"
            aria-label="Submit Search"
            type="submit"
            (click)="submitNavigationForm()"
            [disabled]="navigationForm.invalid"
          >
            <mat-icon
              class="filter-search-icon"
              [matTooltip]="navigationForm.invalid ? 'First of all choose required filter' : ''"

            >
              search
            </mat-icon>
          </button>
        </div>
      </form>
    </ng-template>
  </div>
  <div class="profile">
    <div class="profile-page">
      <button mat-button [matMenuTriggerFor]="menu" class="profile-button">
        <mat-icon>more_vert</mat-icon>
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Sign In</button>
        <button mat-menu-item>Sign Out</button>
      </mat-menu>
    </div>
  </div>
</div>
